<div class="resultat">
    <p>{{valeur}}</p>
  </div>
    <div class="">
      <app-button *ngFor="let val of values1" [val] ="val" (click)="calcul(val)"></app-button>
    </div>
    <div class="">
      <app-button *ngFor="let val of values2" [val] ="val" (click)="calcul(val)"></app-button>   
    </div>
    <div class="">
      <app-button *ngFor="let val of values3" [val] ="val" (click)="calcul(val)"></app-button>   
    </div>
    <div class="">
      <app-button *ngFor="let val of values4" [val] ="val" (click)="calcul(val)"></app-button>   
    </div>
    <div class="">
      <app-button *ngFor="let val of values5" [val] ="val" (click)="calcul(val)"></app-button>   
</div>