

.app {
    height: 100%;
    justify-content: center;
    display: flex;
    background-color: coral;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
}
.container{
  block-size: 630px;
  border: 2px solid rgb(173, 200, 240);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 7px 3px 0px 0 rgb(252, 141, 101);

}